body{
	margin: 0px;
	background-color: #fdf8f1;
}
a{
	text-decoration: none !important;
	color: #3e3e3e !important;
}
.wrapper {
	position: relative;
	min-height: 100%;
		background-color:  #fdf8f1;
}
.menu img{
	width: 100%;
	user-select: none;
}
.menu ul{
	margin-right: 60px;
	margin-left: 60px;
}
.logo{
	margin-top: 70px;
	text-align: center;
}
.cart{
	position: absolute;
	top: 15%;
	right:5%;
}
.cart p{
	position: absolute;
	top: 42%;
	left:23%;
	color: #fff;
	font-size: 130%;
}
.menu-shop {
	background-color: rgba(255, 255, 255, 0.95);
	z-index: 1;
	position: fixed;
	list-style: none;
	top:0px;
	left:0px;
	right:0px;
	margin: 0px 0 0px;
	padding: 25px 0 0px;
	text-align: center;

}
.menu-shop li {display: inline-block;}
.menu-shop li:after {
	content: "|";
	color: #000;
	display: inline-block;
	vertical-align:top;
}
.menu-shop a {
	text-decoration: none;
	font-family: sans-serif;
	letter-spacing: 2px;
	color:#000;
	position: relative;
	padding-bottom: 13px;
	margin: 0 34px 0 30px;
	font-size: 16px;
	display: inline-block;
}
.menu-shop a:before,
.menu-shop a:after {
	content: "";
	position: absolute;
	height: 3px;
	top: auto;
	right: 50%;
	bottom: 12px;
	left: 50%;
	background: #d92818;
	transition: .8s;
}
.menu-shop li:last-child:after {content: none;}
.menu-shop a:hover:before, .menu-shop .current:before {left: 0;}
.menu-shop a:hover:after, .menu-shop .current:after {right: 0;}   
#product-list{
	margin-top: -20px;
	padding-bottom:70px;
	text-align: center;
}
.product {
	padding-top: 20px;
	padding-left:20px;
	padding-right:20px;
	margin-top:50px;
	margin-bottom: 50px;
	display: inline-block;
	border-bottom: 2px solid #F5F5F5;
	background: white;
	font-family: "Open Sans";
	transition: .3s ease-in;
}
#product-list h1{
	font-weight: 100;
	text-decoration: none;
	font-size: 50px;
	font-family: sans-serif;
	letter-spacing: 5px;
	color:#000;
	position: relative;
}
#product-list h1:before,
#product-list h1:after{
	content: "";
	position: absolute;
	height: 2px;
	top: auto;
	right: 15%;
	left:15%;
	bottom: -10%;
	background: #d92818;
}
.product a {
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	font-family: "Open Sans";
	color:#000;
	position: relative;
	padding-bottom: 20px;
	margin-top: 20px;
	margin: 0 34px 0 30px;
	font-size: 25px;
}
img.prd-im{
	max-width: 100px !important;
	max-height: 100px !important;
}
.product:hover .card{
	transform: translateY(-10px);
}
.product:hover{
	box-shadow: 0 0 15px 4px rgba(221, 221, 221, 1);
	border-bottom: 2px solid #d92818;
	transform: translateY(-10px);
}
.description{
	font-size: 20px;
	margin-top: 10px;
}
.description button{
	text-decoration: none;
	display: inline-block;
	padding: 0 12px 0;
	margin-bottom: 15px;
	background: #cccccc;
	color: white;
	font-size: 15px;
	font-family: "Open Sans";
	line-height: 28px;
	transition:.3s ease-in;
	border: 0;
	outline: 0;
}
.product:hover button{background-color: #d92818;}
.product button:active{
	transition-duration: 0s;
	background-color:#cb2415;
}
.price {
	font-size: 24px;
	color: #d92818;
	display: block;
	margin-top:-25px;
	margin-bottom: 25px;
}
img.sale{
	display: inline-block;
	position: absolute;
	right:50%;
	left: 50%;
	margin-left: 45px; 
	margin-top: -290px;
}
.price.new{
	text-decoration: none;
	position: relative;
	top: 0.8em;
}
.price.old{
	content: "700 грн/кг";
	position: absolute;
	font-size: 100%;
	left:50%;
	right:50%;
	margin-left: -50px;
	margin-top: -57px;
	width: 100px;
	color:#3e3e3e;
	text-decoration: line-through;
}
.footer {
	position: absolute;
	margin-bottom:-40px;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: inline-block;
	text-align: center;
	background-color: #fff;
}
.social{
	padding-bottom: 10px;
}
.social img{
	margin-right: 3px;
	margin-left: 3px;
	padding-top: 0;
	min-width: 30px;
}
.footer img{
	margin-top: 8px;
	margin-bottom: 2px;
	width: 20px;
}
.footer p{
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
	font-family: sans-serif;
	font-size: 12px;
	color: #000;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content h1:before,
.modal-content h1:after{
	content: "";
	position: absolute;
	height: 2px;
	top: 20%;
	right: 15%;
	left:15%;
	bottom: -10%;
	background: #d92818;
}
.modal-dialog{
	width:80% !important;
	overflow: auto !important;
	max-height: 80% !important;
	margin: auto !important;
	margin-top: 5% !important;
}
.item p{
	width:100%;
	font-size: 2vw;
} 
.item>*{
	padding:0 !important;
}
.item button{
	text-decoration: none;
	display: inline-block;
	outline: none;
	border: none;
	color: #d92818;
	font-size: 1.8vw;
	background-color: #fff;

}
.title p{
	margin:0;
	padding: 0;
}
.total p{
		font-size: 3vw;
		color: #d92818;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media print{
	.header{
		display: none;
	}
	.product-list h1:before{
		content: "VISIT OUR SHOP or BUY ONLINE";
		font-size: 20px;
		position: absolute;
		display: inline-block;
		font-family: "sans-serif";
		text-align:center;
	}
	.description button{
	 display: none;
	}
}
@media (max-width: 550px) {
	.logo {margin-top: 280px;}
	.menu-shop {padding-top: 0;}
	.menu-shop li {display: block;}
	.menu-shop li:after {content: none;}
	.menu-shop a {
		padding: 25px 0 20px; 
		margin: 0 30px;
	}
}
@media (max-width: 706px) {
	.logo {margin-top: 110px};
	.item img{}
}
@media (max-width: 767px) {
	.item .photo{
		display: none;
	}
}




